<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse dl-horizontal">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li> @Html.ActionLink("List Artist", "Index", "Artists")</li>
                        <li> @Html.ActionLink("List Arts", "Index", "Arts")</li>
                        <li> @Html.ActionLink("List Customer", "Index", "Customers")</li>
                        <li> @Html.ActionLink("+ Customer", "Create", "Customers")</li>
                        <li> @Html.ActionLink("+ Artist", "Create", "Artists")</li>
                        <li> @Html.ActionLink("+ Arts", "Create", "Arts")</li>
                        <li> @Html.ActionLink("Log out", "Logout", "Account")</li>
                        <li><a href="#">Welcome!! @User.Identity.Name</a></li>

                    }
                    <li> @Html.ActionLink("Login", "Login", "Account")</li>
                    <li> @Html.ActionLink("Registation", "Create", "Account")</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="body-content" style="align-content:center">
        
        <img src="~/Image/ARTcULTURE.jpg" height="200" width="2000" />
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div style="width: 1024px; background-color: #FFFF00; font-size:40px">
                <marquee direction="left"><strong>Developed by Md: Mafizul Islam</strong></marquee>
            </div>
            <div style="width: 1024px; background-color: #CCFFCC; font-size:20px">
                <marquee direction="right"><strong>C# 39 2019</strong></marquee>
            </div>
            <div style="width: 1024px; background-color: #CCFFCC; font-size:20px">
                <marquee direction="up">
                    <strong>1246174</strong>
                    <p>&copy; @DateTime.Now.Year - IDB BISEW C# 39</p>
                </marquee>
            </div>
            
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>